/*Esto significa que todos los elementos de la página van a usar la misma fuente de letra*/
* {
    font-family: 'Roboto', sans-serif;
}

/*El body es todo el cuerpo de la pagina.Le quito el margen de arriba y abajo y le doy espacio a la derecha e izquierda*/
body {
    margin: 0;
    padding: 0 20%;
}

/*el título principal (h1) estara subrayado, de color darkcyan y centrados asi se ve grande y ordenado*/
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/*A los elementos clase selector les puse color lightcyan, para diferenciarlos del resto. */
.selector {
    color: lightcyan;
}

/*a la caja con clase .selectors le añadí un borde darkcyan, un poco de espacio dentro y las esquinas esquinas redondeadas, asi resalta la información.*/
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

/*el texto con id #universal esta en amarillo asi queda resaltado*/
#universal {
    color: lightgoldenrodyellow;
}

/*los subtítulos (h2) que tienen clase selector y el id #universal estan con fondo azul verdoso y algo de relleno relleno y esquinas redondeadas*/
h2.selector,
h2#universal {
    background-color: darkcyan;
    padding: 1%;
    border-radius: 5px;
}

/*Los span estan negrita, con fondo negro y letras blancas.Asi se remarcan las palabras importantes*/
span {
    font-weight: 900;
    background-color: black;
    color: white;
}


/*Los enlaces (a) que estan dentro de una lista (li) les he quitado el subrayado, para que se vean mas claramente.*/
li > a {
    text-decoration: none;
}

/*los títulos pequeños (h3) tienen un fondo azul verdoso, un poco de espacio y esquinas redondeadas*/
h3 {
    background-color: rgba(0, 139, 139, 0.529);
    padding: 0.5px;
    border-radius: 5px;
}

/*los div que están dentro de la galería ocupan todo el ancho, para que las imágenes se vean grandes*/
#gallery div {
    width: 100%;
}

/*Las imágenes tambien estan al 100% de ancho, con un borde azul verdoso tambien y esquinas redondeadas*/
img {
    width: 100%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

