/*Esto significa que todos los elementos de la página van a usar la misma fuente de letra*/
* {
    font-family: 'Roboto', sans-serif;
}

/*El body es todo el cuerpo de la pagina.Le quito el margen de arriba y abajo y le doy espacio a la derecha e izquierda*/
body {
    margin: 0;
    padding: 0 20%;
}

/*El título principal (h1) estará subrayado, de colo azul y centrados así se ve grande y ordenado.*/
h1 {
    text-decoration: underline;
    color: azul;
    text-align: center;
}

/*A los elementos clase selector les puse color rojo, para diferenciarlos del resto. */
.selector {
    color: rojo;
}



