/*Esto significa que todos los elementos de la página van a usar la misma fuente de letra*/
* {
    font-family: 'Roboto', sans-serif;
}

/*El body es todo el cuerpo de la pagina.Le quito el margen de arriba y abajo y le doy espacio a la derecha e izquierda*/
body {
    margin: 0;
    padding: 0 20%;
}

/*El título principal (h1) estara subrayado, de color darkcyan y centrados asi se ve grande y ordenado.*/
h1 {
    text-decoration: underline;
    color: darkcyan;
    text-align: center;
}

/*A los elementos clase selector les puse color lightcyan, para diferenciarlos del resto. */
.selector {
    color: lightcyan;
}

/* A la caja con clase .selectors le añadí un borde darkcyan, un poco de espacio dentro y las esquinas esquinas redondeadas, asi resalta la información.*/
.selectors {
    padding: 5%;
    border: solid darkcyan 1px;
    border-radius: 5px;
}

